header{
    height: 100px;
    color: black;
}

.logo-kiri{
    height: 100px;
    width: 20%;
    float: left;
    
}
#kemenkes{
    width:200px;
    height:200px;
    padding-left: 150px;
}
.kop-surat{
    height: 100px;
    width: 60%;
    float: left;
}

h1{
    text-align: center;
    line-height: 5px;
    font-size: 60px;
}
h2{
    text-align: center;
    line-height: 5px;
    font-size: 30px;
}
h3{
    text-align: center;
    line-height: 5px;
    font-size: 26px;
}
p{
    text-align: center;
    line-height: 2px;
    font-size: 20px;
}
.logo-kanan{
    height: 100px;
    width: 20%;
    float: right;
}

#bblk{
    width:200px;
    height:200px;
    padding-right: 150px;
}

.baris{
    border-bottom: solid;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.tg{
    text-align: center;
    border: dotted;
    font-size: 30px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}